# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside

# Build artifacts
DerivedData/
build/
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
